/* ClassDetailPage.module.css */

/* Custom Scrollbar for the horizontal assignment list */
.assignmentScroller {
  scrollbar-width: thin;
  scrollbar-color: #fdba74 transparent; /* orange-300 */
}

.assignmentScroller::-webkit-scrollbar {
  height: 6px;
}

.assignmentScroller::-webkit-scrollbar-track {
  background: transparent;
}

.assignmentScroller::-webkit-scrollbar-thumb {
  background-color: #fdba74; /* orange-300 */
  border-radius: 20px;
}

.assignmentScroller::-webkit-scrollbar-thumb:hover {
  background-color: #f97316; /* orange-500 */
}